:root {
  --darkestGreen: #344341;
  --darkGreen: #3a5a40;
  --green: #588157;
  --lightGreen: #a3b18a;
  --grey: #dad7cd;
  --white: #fff;
  --black: black;
}

/* this is the default setting for overall width + padding + margins. Forces padding and border to be included in final width
instead of them being added to the width */
* {
  box-sizing: border-box;
}

.navbar {
  font-family: "Protest Riot", sans-serif;
}

.nav-link {
  font-size: 24px;
  color: var(--darkestGreen);
}

button.pokemon-button {
  /* background-color: var(--darkestGreen); */
  /* border: none; */
  padding: 16px 32px;
  font-size: 20px;
  text-decoration: none;
  margin: 4px 2px;
  color: var(--lightGreen);
  width: 50%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Protest Riot", sans-serif;
}

li.list-item-pokemon {
  list-style-type: none;
}

ul.pokemon-list {
  padding: 0;
  text-align: center;
}

/* Media Queries; smallest screen */
@media screen and (max-width: 360px) {
  h1.pokedex-title {
    font-size: 50px;
    text-align: center;
  }
}

/* Media Queries; medium screen */
@media screen and (min-width: 361px) and (max-width: 720px) {
  h1.pokedex-title {
    font-size: 40px;
    text-align: left;
    padding: 0 25px;
  }
}

/* Media Queries; large screen */
@media screen and (min-width: 721px) and (max-width: 1200px) {
  h1.pokedex-title {
    font-size: 30px;
    text-align: left;
    padding: 0 25px;
  }
}
